body{
  /*position: absolute;*/
  /*min-width: 900px;*/
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F3F3F3;
  /*overflow: hidden;*/
}
.swiper-container img {
  width: 100%;
}
.top-fixed-header {
  position: fixed;
  top: 0px;
  height: 44px;
  width: 100%;
  background: #f8f8f8;
  z-index: 2;
  box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
}
.bottom-fixed-footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 44px;
  background: #f8f8f8;
  box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
}
a:link,a:visited,a:hover,a:active {
  color:black;
}
